# === Python cache ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
*.so

# === Virtual env ===
.venv/
env/
venv/

# === Notebooks ===
.ipynb_checkpoints/

# === Données / résultats ===
data/
results/
*.csv
*.json
*.log

# === OCR / Images temporaires ===
*.png
*.jpg
*.jpeg
*.bmp
*.gif
tmp/

# === Modèles et poids ===
models/*.job
rag_dofus/bccb9185-c8c7-488f-a64c-c5f73a5842d8